.header {
  background-color: #00796B;
  color: white;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__username {
  color: white;
}

.header__logout {
  color: #F5F5F5;
  padding: 20px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.header__logout:hover, .header__logout:focus {
  color: white;
  background-color: #4DB6AC;
}

.header__logout:focus {
  text-decoration: none;
  outline: 0;
}
