.Main {
    padding: 15px;
}

.Row--active {
    background-color: #B2DFDB;
}

.Pages {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.Page {
    border: 1px solid #009688;
    padding: 5px 10px;
    cursor: pointer;
}

.Page:first-child {
    border-right: 0;
}

.Page:last-child {
    border-left: 0;
}

.Page:hover:not(.Page--active) {
    background-color: #E0E0E0;
}

.Page--active {
    font-weight: bold;
    font-size: medium;
    background-color: #4DB6AC;
    color: white;
    cursor: default;
}

.Message {
    margin-top: 50px;
    text-align: center;
}

.table-white {
    background-color: white;
    border: 2px solid #ddd;
}
